<!DOCTYPE html>
<html>
  <head>
    <title>Notes App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Notes</h1>
    <p><a href="/notes">Write some notes</a></p>
  </body>
</html>
