<h1>Notes</h1>

<p><a href="/notes/new">New note</a></p>

<% for (var i=0; i < notes.length; i++) { %>
  <p>
    <b><a href="/notes/<%= notes[i].id %>"><%= notes[i].title %></a></b> <br>
    <i>by <%= notes[i].author %></i> <br>
    <%= notes[i].message %>
  </p>
<% } %>