<h1>New Note</h1>

<form action="/notes/create" method="post">
  Title:<br>
  <input type="text" name="title"> <br>

  Author:<br>
  <input type="text" name="author"> <br>

  Message:<br>
  <input type="text" name="message"> <br>
  
  <input type="submit" value="Submit">
</form>